
<div class="text-left">
<%= image_tag "a/ampi_valen.jpg", class: "w-70 h-90 sm:w-70 sm:h-80 block mx-auto" %>

<p class="text-sm text-gray-400 pl-12 pt-12">ホーム < オークランド編</p>
<h1 class="text-xl font-bold pl-12 pt-8 sm:p-12">バレンアンピ</h1>

<p class="eading-relaxed whitespace-pre-line px-12 pt-8 sm:p-12 text-gray-800">
7時前にアラームなしで起き、僕が寝ていた上の段のベットから飛び降りる。共同の洗い場へ歯を磨きに行き、部屋に戻り着替えたらすぐに外へ出る。

Countdownというスーパーで辛ラーメン、ツナ缶、チーズ、サラミソーセージを購入し、馴染みのカフェへコーヒーをテイクアウトしに行く。テイクアウトしたコーヒを飲みながらオークランドの長い坂を登ってアルバイト先のホテルへ向かう。

坂を登っていくに連れて、カフェインで脳みそが起きてくる。

ホテルに着いたら、アゴにマオリのタトゥーがある受付のお姉さんに挨拶して指紋をピットして、従業員の待合室へ行く。

いつも早く来ているニュージーランド人のソアナとインド人のナズにも挨拶をした後、昨日マネージャーのシャークーンがくれたカレーを冷蔵庫から出して温める。

その間に、隣のレストランにあるコーヒーマシンにカップを置いて、エスプレッソのボタンを押す。さっきまでテイクアウトしたコーヒーが飲み終わったからそのおかわりだ。カフェイン中毒の僕は水よりもガブガブコーヒーを飲む。

コーヒーマシンから完了のBGMが流れると、それをこぼさないように待合室にある大きな丸テーブルに置き、温め終わったカレーも取り出してイスに座る。

僕がカレーを食べていると、

「おはよう！」

お！バレンとアンピが来た。

この2人はどちらもチリ人。一緒にワーキングホリデービザで来たもう2人のチリ人と同じアパートに計4人で暮らしているらしい。

バレンとアンピはいつも一緒に行動していて、名前もお互いにバレン・アンピとアンピ・バレンだ。ミドルネームはそれぞれ違うみたいだが、ここまで一緒だとまるで二人で一つだ。

ホテルの面接にも一緒に来て、働く曜日、グループ分けの時さえも「私たち一緒にして」と周りに頼んでいる。

ちなみにホテルの若い従業員は7人ものチリ人がいる。

働く時間になると僕たちはトイレやシャワーを掃除したり、ホテルの部屋を掃除していく。ベットに不備があったら階段からベットを落として地下室にいるナズに届けて彼女がベットを直す。

制服は存在せず、私服で働いているため、お客さんなのか従業員なのか区別は付かないことが多い。お昼休憩も時間内に終わるならどれだけとっても構わない。それくらい緩いルールで働けている。

とはいってもオークランドの中心地にこのホテルは位置するため、観光客が毎日のように来る忙しいホテルだ。

支配人のマッキーは、僕らが時間内にお客さんの部屋を掃除してくれたら他には何も言ってこないし、早く終わったら帰ってもいいし、エクストラで何か雑用を与えてくれて時間を延ばしてくれたりもする。

先ほども言ったように中心地なため立地的に良いし、比較的安価に泊まれるホテルなので、わざわざ呼び込まなくてもお客さんがどんどん来るから、マッキー自身、従業員の働き方などの細かいことは気にしていないのかもしれない。

部屋を掃除しに行く時にお客さんが中にいた場合、掃除をしながら世間話をする文化？みたいなものがあって、従業員と客ではなく、同じ人間同士の立場でカジュアルに会話ができる環境がここにはあった。

このような雰囲気によって僕が日本にいた時よりも"労働をしている"という感覚を持たずに生きていける感覚があったから、精神的にとても助かった。

当時マッキーとの面接でも、

「ニュージーランドに来てここでお金を貯めた後に、クイーンズタウンにでも行くつもり？」

とか、仕事と全く関係ない話ばかりして終わったため、とにかく誰でもいいからホテルを掃除してくれる短期的な人員が必要だったのかもしれない。

オークランドの中心地でアルバイトをしている人は、ほとんど外から来た僕みたいな人間によって構成されていたから、ここで経営している人はアルバイトは大体こんな短期的な移住者によって支えられているということを自覚している感じもした。

*

働いている間、バレンとアンピはずーーっとおしゃべりをしている。

彼女らと同じ階で部屋の掃除をしていると、まるでスペイン語のラジオを聴いているみたいだった。

そのおかげで僕はニュージーランドにいながら英語よりもスペイン語が上達して、この後にも様々なラテンの人間に会ってきたが、

「あ、ちょっとだけどアンピたちとアクセントが違う。これはアルゼンチンかな？」
「お、この声が低くてがっしりした話し方はスペインかな？」

と予測ができるくらい毎日毎日ここでチリ訛りのスペイン語を聞いてきた。

それくらいチリ人はおしゃべりが大好きという裏返にもなるのかもしれない。

僕も彼女らから教わった単語やフレーズを、働いている時の軽い小話の中で挟むと良く笑ってくれたことを覚えている。

"コンチャスマーレ"

と僕がシーツを床に落とした時に無意識に口から出てしまった場面もあった笑

*

オークランドの中心地は狭いからホテルの同僚とバッタリ会うことがある。

バレンとアンピは、もちろん外でもいつも一緒だ。

支配人のマッキーとも通っているジムが同じだから出入り口でお互いニコッとしてすれ違うこともよくあった。

どれくらい狭い世界で私たちが生活しているのか想像できただろうか。。

*

この本のタイトルは「ホステル日記」だけど、ニュージーランドに着いた最初の6ヶ月はシェアハウスで暮らしていた。後の6ヶ月をホステルで暮らしていた。

シェアハウスではオーナーから追い出されてしまい、再びシェアハウスのオーナーガチャになるのがストレスだったからホステルに住むことに決めたのも、ここで働いている時期だった。

Mt Edenという地域にあるシェアハウスから、オークランドのど真ん中に位置するホステルへ引っ越しをする時に、まだまだ旅人として初心者だった僕は荷物を大量に抱えていた。(これからいろんなホステルや国へ移動するときに、持ち物が少なければとても快適に暮らすことができることを知る。)

その中の大部分を占めるのは「古着」だった。

日本の夏は蒸し暑くて、僕の場合なるべくサラサラしている生地の服でないと着ることができない。

グレーのTシャツなんて、汗が滲んでしまうからもっての他だった。

しかし、ここニュージーランドは夏で気温が高くても風がサラッとしており、汗を書いても風が吹けばすぐに消えて無くなってしまうため、しっかりとした厚めの生地でできたヘビーウェイトのシャツを着ても問題なかった。

それが嬉しくて、当時Mt Edenの近くにあるフリーマーケットへよく行ったり、オークランドの中心地にある古着屋さんで服をよく見に行ったり買ったりして、どんどんと荷物が膨らんでしまった。

スペースが十分に確保できないホステルではその荷物の量では生活できないので、捨てるか、売るか、誰かにあげる必要があった。

「せっかく手放すなら知り合いにあげたい」

と思い、古着を10着くらいバレンとアンピにあげることにした。

ナイキとか、クラシックなヘインズのデザインTシャツを写真で撮って「いる？」って送ったら、思いの外喜んでくれたから、次の日ホテルに持って行って全部あげた。

それからインスタのストーリーとかを見ても、僕があげた服を着ていたり、ホテルにもその服を着てきてくれていて、すごく嬉しかった。

これ以降、何か必要がなくなったらインターネットで会ったことも無い人に買われるよりも、無償で知り合いにあげる方がよっぽど自分が幸せになることを知った。

バレンとアンピはニュージーランドの後、ドイツへ渡った。もちろん二人一緒にだ。

ドイツでもインスタのストーリーで僕の服を着ている場面を何度か見ることがある。

知り合いに服をあげて本当に良かったと思うし、あの服を見るたび、確かに僕たちはニュージーランドで一緒の時間、空間を共有していたんだなと思うと、なんだか胸が暖かくなる。


</p>

</div>

<!--flex justify-center: svgはインラインだから。-->
<div class="grid grid-cols-12 text-gray-400 p-8">

 <div class="col-span-6 block mx-auto">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
    <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
  </svg>
 </div>

 <div class="col-span-6 block mx-auto">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
   <path fill-rule="evenodd" d="M13.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L11.69 12 4.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
   <path fill-rule="evenodd" d="M19.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06L17.69 12l-6.97-6.97a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
  </svg>
 </div>

 </div>